.item {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.cetificationsView {
  .item {
    background: none;
  }
  .certification-tile{
    background: none;
    img {
      width: 100%;
    }
  }
}
