.homeView{
	color: white;
	button{
		background: transparent;
    border: none;
    img {
    	padding: 2em 0;
    	max-width: 3.5em;
    }
	}
	.scroll-content {
		.scroll{
			height: 100%;
			padding: 20px;
			.row-center {
				height: 100%;
			}
			.list-input {
				margin: 1em 0;
				label {
					border-radius: 3px;
				}
			}
		}
	}
	h1 {
		color: white;
	}
}
@keyframes background {
	0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}

body {
	font-family: 'ProximaNovaSoft';
}

.sticky-footer {
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
	button {
	margin: 20px 0;
	}
}

.logo-container {
	img {
		max-width: 12em;
	}
}

.login-form {
	.list-inset {
		background-color: transparent;
	}
	.list-inset .item.item-input input {
		padding-right: 0;
	}
	.item-input {
		padding: 1px;
		border-color: transparent;
		input {
			text-align: center;
			font-weight: 600;
			font-size: 15px;
			color: white;
			background: rgba(39,103,176,0.8);
			height: 50px;
			&::placeholder {
				color: white;
				opacity: .5;
			}
		}
	}
}
