.scenario-footer {
  padding: 0;
  height: 60px;
  .list {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  input {
    font-size: 20px;
    padding: 0 10px;
    color: white;
    &::placeholder {
      color: white;
      opacity: .5;
    };
  }
  .item {
    height: 60px;
    background: none;
    border-radius: 0;
    background: #1D3B77;
  }
}

.scenarioView {
  p.scenario-instruction{
    bottom: 0;
    font-size: 1.8em;
    line-height: 1.2em;
  }
  p.error-description {
    right: 0;
    left: 0;
    color: white;
    bottom: 60px;
    position: absolute;
    padding: 5px;
    background: #FC4349;
    display: block;
    text-align: center;
  }
  .question-progress-bar {
    right: 0;
    left: 0;
    position: absolute;
    top: 0px;
    margin: 0;
  }
}
