<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <div class="objective-modal-container">
      <div class="list certificate-card">
        <h2>End Objective</h2>

        <div class="seperator"> </div>

        <div class="item item-body">
          <p>
            Build two fully functional Nutanix Infrastructure to host 500 VM's on each site , there is also a requirement from customer to protect 100 VM's using Nutanix Metro Availability
          </p>
        </div>
      </div>


      <div class="sticky-footer">
        <div class="footer-container">
          <button class="button button-full button-dark" ng-click="beginCertification()">Begin Certification</button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
