<ion-view view-title="" class="galleryView cetificationsView">
  <ion-nav-title>
    Certitifications
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <div class="row row-wrap row-no-padding">
        <!-- <ion-item ng-repeat="certification in certifications" class="col col-45 button button-icon light animated bounceInUp" ng-style="{ 'background-color' : certification.color }" on-tap="openItem(certification)">
          <i class="icon {{ certification.icon}}"></i>
          <p class="bold">{{ certification.title }}</p>
        </ion-item> -->
        <ion-item class="col col-50 animated bounceInUp certification-item" on-tap="openItem()">
          <div class="certification-tile">
            <img src="img/CertificateBlock.png">
          </div>
        </ion-item>
        <ion-item class="col col-50 animated bounceInUp certification-item">
          <div class="certification-tile">
            <img src="img/CertificateBlock.png">
          </div>
        </ion-item>
        <ion-item class="col col-50 animated bounceInUp certification-item">
          <div class="certification-tile">
            <img src="img/CertificateBlock.png">
          </div>
        </ion-item>
        <ion-item class="col col-50 animated bounceInUp certification-item">
          <div class="certification-tile">
            <img src="img/CertificateBlock.png">
          </div>
        </ion-item>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
