<ion-view view-title="" class="galleryView">
  <ion-nav-title>
    About
  </ion-nav-title>
  <ion-content>
    <div class="row row-wrap row-no-padding">
      <!-- <ion-item ng-repeat="certification in certifications" class="col col-45 button button-icon light animated bounceInUp" ng-style="{ 'background-color' : certification.color }" on-tap="openItem(certification)">
        <i class="icon {{ certification.icon}}"></i>
        <p class="bold">{{ certification.title }}</p>
      </ion-item> -->
      <div class="list certificate-card">
        <div class="avatar">
          <img src="img/nppcertificatebig.png">
        </div>

        <div class="seperator">
          <img src="img/seperator.png">
        </div>

        <div class="item item-body">
          <h2>ABOUT</h2>
          <p>
            The Nutanix Platform Professional (NPP) certification confirms your ability to install, configure, and manage the Nutanix environment. The Nutanix Administration course is recommended prior to taking the certification.
          </p>
        </div>
        <!-- on-tap="openObjectiveModal()" -->
        <button ui-sref="app.endObjective"  class="continue-button">
          <img src="img/actionbuttonbig.png">
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
