<ion-view view-title="" class="galleryView ObjectiveView">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear" menu-toggle="left">
      Back
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear">
      <img src="img/objective.png">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row row-wrap row-no-padding">
      <!-- <ion-item ng-repeat="certification in certifications" class="col col-45 button button-icon light animated bounceInUp" ng-style="{ 'background-color' : certification.color }" on-tap="openItem(certification)">
        <i class="icon {{ certification.icon}}"></i>
        <p class="bold">{{ certification.title }}</p>
      </ion-item> -->
      <div class="list certificate-card objective-card">
        <!-- <span class="close-icon">
          <img src="img/close-icon.png">
        </span> -->
        <div class="avatar">
          <img src="img/objective.png">
        </div>

        <div class="item item-body">
          <h2>End Objective</h2>
          <p>
            Build two fully functional Nutanix Infrastructure to host 500 VM's on each site , there is also a requirement from customer to protect 100 VM's using Nutanix Metro Availability
          </p>
        </div>
        <button class="continue-button" on-tap="continueExam()">
          <img src="img/actionbuttonbig.png">
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
