<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-calm nu-cert-navigation" align-title="center">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
<!-- 			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-more" ng-click="openPopover($event)">
				</button>
			</ion-nav-buttons> -->
		</ion-nav-bar>
		<ion-nav-view name="viewContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" class="menu">
		<ion-content class="has-header">
			<ion-list>
				<ion-item class="drawer-image">
				<img src="img/drawer.png">
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
