<ion-view view-title="" class="homeView scenarioView selectModuleView">
  <ion-nav-title align-title="center">
    NPP
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear" ui-sref="app.certifications">
      Quit
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear">
      <img src="img/objective.png">
    </button>
  </ion-nav-buttons>
  <ion-content>
   <div class="row">
     <div class="col col-center text-center">
      <div class="unlockcircle"><span class="topic_num">1</span></div>
       <div class="unlockflowline"></div>
       <div class="unlockrectangle" ui-sref="app.scenario">
          <p class="topic_contents">Create and Image Cluster</p>
          <div class="topic_tiles">
            <p class="topic_num">
              <span>Avg Time</span> 5 mins
            </p>
          </div>
          <div class="unlockimg"><a><img src="img/actionbuttonbig.png"></a></img></div>
          <div class="topic_tiles">
            <p class="topic_num">
              <span>Points</span> 200
            </p>
          </div>
       </div>
       <div class="lockflowline"></div>
       <div class="lockcircle"><span class="topic_num">2</span></div>
       <div class="lockflowline"></div>
       <div class="lockrectangle">
          <p class="topic_contents">Protect Data</p>
          <div class="topic_tiles">
            <p class="topic_num">
              <span>Avg Time</span> 5 mins
            </p>
          </div>
          <div class="lockimg pad-lock"><a><img src="img/locked-padlock.png"></a></img></div>
          <div class="topic_tiles">
            <p class="topic_num">
              <span>Points</span> 200
            </p>
          </div>
       </div>
       <div class="lockflowline"></div>
       <div class="lockcircle"><span class="topic_num">3</span></div>
       <div class="lockflowline"></div>
       <div class="lockrectangle">
          <p class="topic_contents">Configure Cluster</p>
          <div class="topic_tiles">
            <p class="topic_num">
              <span>Avg Time</span> 5 mins
            </p>
          </div>
          <div class="lockimg pad-lock"><a><img src="img/locked-padlock.png"></a></img></div>
          <div class="topic_tiles">
            <p class="topic_num">
              <span>Points</span> 200
            </p>
          </div>
       </div>
     </div>
   </div>
  </ion-content>
</ion-view>
