<ion-view class="selectModuleView" view-title="SelectModule" hide-nav-bar="true">
 <ion-content>
   <div class="row row-center">
     <div class="col col-center text-center">
       <h1 class="topic_contents">NPP</h1>
      <div class="unlockcircle"><span class="topic_num">1</span></div>
       <div class="unlockflowline"></div>
       <div class="unlockrectangle">
          <p class="topic_contents">Create and Image Cluster</p>
          <div class="topic_tiles"><p class="topic_num">Avg Time <br>5 mins</p></div>
          <div class="unlockimg"><a href="www.google.com"><img src="../img/nextimg.png"></a></img></div>
          <div class="topic_tiles"><p class="topic_num">Points 10</p></div>
       </div>
       <div class="lockflowline"></div>
       <div class="lockcircle"><span class="topic_num">2</span></div>
       <div class="lockflowline"></div>
       <div class="lockrectangle">
          <p class="topic_contents">Protect Data</p>
          <div class="topic_tiles"><p class="topic_num">Avg Time <br>5 mins</p></div>
          <div class="lockimg"><a href="www.google.com"><img src="../img/lockimg.png"></a></img></div>
          <div class="topic_tiles"><p class="topic_num">Points 10</p></div>
       </div>
       <div class="lockflowline"></div>
       <div class="lockcircle"><span class="topic_num">3</span></div>
       <div class="lockflowline"></div>
       <div class="lockrectangle">
          <p class="topic_contents">Configure Cluster</p>
          <div class="topic_tiles"><p class="topic_num">Avg Time <br>5 mins</p></div>
          <div class="lockimg"><a href="www.google.com"><img src="../img/lockimg.png"></a></img></div>
          <div class="topic_tiles"><p class="topic_num">Points 10</p></div>
       </div>
     </div>
   </div>
 </ion-content>
</ion-view>
