.certificate-card {
  width: 100;
  overflow: hidden;
  margin: 20px 10px;
  text-align: center; }
  .certificate-card h2 {
    margin: 20px 0; }
  .certificate-card .avatar img {
    position: relative;
    max-width: 80px;
    border-radius: 50%;
    margin: 50px 0; }
  .certificate-card .item {
    background: none; }

.seperator {
  max-width: 100px;
  margin: 0 auto;
  border: 1px solid white;
  margin-bottom: 20px; }

.item {
  padding: 5px;
  border: none;
  border-radius: 5px; }

.row-no-padding .col {
  padding: 0; }

.row-no-padding .certification-item {
  margin: .5em; }

.certification-tile {
  height: 100px;
  background: white; }


@media (min-width: 680px) {
  .bigModal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px; } }

.center-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important; }
  .center-content .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.animate-item {
  animation: fadeInLeft 1s; }

.scroll {
  background: #2666AE; }

.col-45 {
  -moz-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%; }

/* ProximaNovaSoft */
@font-face {
  font-family: 'ProximaNovaSoft';
  font-weight: 400;
  src: url("../fonts/ProximaNovaSoft-Regular-webfont.eot");
  src: url("../fonts/ProximaNovaSoft-Regular-webfont.eot?iefix") format("eot"), url("../fonts/ProximaNovaSoft-Regular-webfont.woff") format("woff"), url("../fonts/ProximaNovaSoft-Regular-webfont.ttf") format("truetype"), url("../fonts/ProximaNovaSoft-Regular-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'ProximaNovaSoft';
  font-weight: 500;
  src: url("../fonts/ProximaNovaSoft-Medium-webfont.eot");
  src: url("../fonts/ProximaNovaSoft-Medium-webfont.eot?iefix") format("eot"), url("../fonts/ProximaNovaSoft-Medium-webfont.woff") format("woff"), url("../fonts/ProximaNovaSoft-Medium-webfont.ttf") format("truetype"), url("../fonts/ProximaNovaSoft-Medium-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'ProximaNovaSoft';
  font-weight: 600;
  src: url("../fonts/ProximaNovaSoft-Semibold-webfont.eot");
  src: url("../fonts/ProximaNovaSoft-Semibold-webfont.eot?iefix") format("eot"), url("../fonts/ProximaNovaSoft-Semibold-webfont.woff") format("woff"), url("../fonts/ProximaNovaSoft-Semibold-webfont.ttf") format("truetype"), url("../fonts/ProximaNovaSoft-Semibold-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'ProximaNovaSoft';
  font-weight: 700;
  src: url("../fonts/ProximaNovaSoft-Bold-webfont.eot");
  src: url("../fonts/ProximaNovaSoft-Bold-webfont.eot?iefix") format("eot"), url("../fonts/ProximaNovaSoft-Bold-webfont.woff") format("woff"), url("../fonts/ProximaNovaSoft-Bold-webfont.ttf") format("truetype"), url("../fonts/ProximaNovaSoft-Bold-webfont.svg#webfont") format("svg"); }

.homeView {
  color: white; }
  .homeView button {
    font-size: 26px; }
  .homeView .scroll-content .scroll {
    height: 100%;
    padding: 20px; }
    .homeView .scroll-content .scroll .row-center {
      height: 100%; }
    .homeView .scroll-content .scroll .list-input {
      margin: 1em 0; }
      .homeView .scroll-content .scroll .list-input label {
        border-radius: 3px; }
  .homeView h1 {
    color: white; }

@keyframes background {
  0% {
    background-position: 1% 0%; }
  50% {
    background-position: 99% 100%; }
  100% {
    background-position: 1% 0%; } }

body {
  font-family: 'ProximaNovaSoft'; }

.sticky-footer {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0; }
  .sticky-footer button {
    margin: 20px 0; }

.logo-container img {
  max-width: 12em; }

.login-form input {
  background: rgba(255, 255, 255, 0.1); }

.scenario-footer {
  height: 60px; }
  .scenario-footer .list {
    padding-top: 0;
    padding-bottom: 0; }
  .scenario-footer input {
    font-size: 20px; }
  .scenario-footer .item {
    height: 50px; }

.scenarioView p.scenario-instruction {
  font-size: 1.8em;
  line-height: 1.2em; }

.scenarioView p.error-description {
  color: red; }

body, input, .popover, .tooltip {
  font-family: 'ProximaNovaSoft', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, input, button, select, textarea {
  font-family: 'ProximaNovaSoft', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
  margin: 0; }

h2 {
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  margin: 0; }

h3, h4, h5, h6 {
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  margin: 0; }

p + p {
  margin-top: 14px; }

h2 + p {
  margin-top: 12px; }

h3 + p {
  margin-top: 17px; }

h4 + p {
  margin-top: 7px; }

p + ol, p + ul, ul + p, ol + p {
  margin-top: 17px; }

/*
.instructions {
  color: @dark-5;
}

.modal-instructions {
  color: @dark-4;
}
*/

.objective-modal-container {
  padding: 20px; }

.footer-container {
  margin: 15px; }

.popoverView {
  background-color: #4E5E6E !important; }
  .popoverView .scroll {
    height: 100%; }
    .popoverView .scroll .slider {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      text-align: center; }
      .popoverView .scroll .slider .slider-slide img {
        max-height: 100%;
        max-width: 100%; }

.usersModal .title, .usersModal .item {
  font-family: 'Jura'; }

.usersModal .title {
  font-size: 26px;
  font-weight: bold; }

.usersModal .item {
  font-size: 20px; }

.usersModal .animate-item.ng-enter {
  animation: fadeInLeft 1s; }

.usersModal .animate-item.ng-enter-stagger {
  animation-delay: 200ms;
  animation-duration: 0; }

/*# sourceMappingURL=style.css.map */
